@using AgroSolutions360.Models.Dtos.Vache;
@using AgroSolutions360.Models.Mapping;
@using AgroSolutions360.Models.Models;
@model List<AgroSolutions360.Models.Dtos.Vache.VacheDto>
 
@{
    ViewData["Title"] = "Vache List";

    var httpClient = new System.Net.Http.HttpClient();
    var response = httpClient.GetAsync("/api/vache/recherche").Result;
    var content = response.Content.ReadAsStringAsync().Result;
    var vacheDtoList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vache>>(content);
    var vacheList = VacheMapper.VachesListeMapper(vacheDtoList);
}

<h2>Vache List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Numero_animal</th>
            <th>Date_de_naissance</th>
            <th>Num_mere</th>
            <th>Num_pere</th>
            <th>Race</th>
            <th>Race_mere</th>
            <th>Race_pere</th>
            <th>Nom_animal</th>
            <th>Sexe_animal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vache in vacheList)
        {
            <tr>
                <td>@vache.id</td>
                <td>@vache.Numero_animal</td>
                <td>@vache.Date_de_naissance.ToShortDateString()</td>
                <td>@vache.Num_mere</td>
                <td>@vache.Num_pere</td>
                <td>@vache.Race</td>
                <td>@vache.Race_mere</td>
                <td>@vache.Race_pere</td>
                <td>@vache.Nom_animal</td>
                <td>@vache.Sexe_animal</td>
            </tr>
        }
    </tbody>
</table>
